$base-font-family: "SourceSansProRegular", Arial, sans-serif;

$font-size-xxx-small: 13px;
$font-size-xx-small: 14px;
$font-size-x-small: 15px;
$font-size-small: 16px;
$font-size-base: 18px;
$font-size-medium: 20px;
$font-size-large: 24px;
$font-size-x-large: 27px;
$font-size-xx-large: 72px;

$line-height-xxx-small: 26px;
$line-height-xx-small: 28px;
$line-height-x-small: 32px;
$line-height-small: 33px;
$line-height-base: 34px;
$line-height-medium: 38px;
